@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --h-height: 144px;
    --h-nav: 60px;
    --h-footer: 100px;
    --main-color: #323555;
    --main-color-rgb: 50 53 85;
    --font-color: #81899A;
    --radius: 8px;
    --indent: 70px;
    --indent-sm: 40px;
    @media (max-width:991px) {
        --h-height: 200px;
    }
    @media (max-width: 767px) {
        --h-height: 340px;
    }
}

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
    line-height: 140%;
    margin-bottom: 0px;
}
a {
    color: var(--main-color);
    text-decoration: none;
    outline: none;
    transition: color 300ms ease-in;
    &:hover, &:focus, &:active {
        color: #007BFF;
        text-decoration: none;
        outline: none;
    }
}
.link {
    color: #007BFF;
    transition: color 300ms ease-in;
    &:hover, &:focus, &:active {
        color: #0044ff;
    }
}
h1, h2, h3 h4, h5, h6 {
    color: var(--main-color);
}
h1 {
    font-size: 120px;
    line-height: 90%;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
    @media (max-width:767px){
        font-size: 80px;
    }
    @media (max-width:575px){
        font-size: 60px;
    }
}
h2, .h2 {
    font-size: 48px;
    line-height: 100%;
    text-align: left;
    font-weight: 400;
    margin-bottom: 40px;
    @media (max-width: 575px) {
        font-size: 40px;
        margin-bottom: 30px;
    }
}
h3 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
    @media (max-width:767px){
        font-size: 20px;
    }
}
h4 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
}
h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
h6 {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}
.fs-18 {font-size: 18px;}

ul, ol {
    list-style: none;
    padding: 0px;
}

.mb-indent {
    margin-bottom: var(--indent);
    &-sm {
        margin-bottom: var(--indent-sm);
    }
}
.img-fluid {
    display: block;
    max-width: 100%;
}

input, textarea {
    border: 1px solid #E3E5ED;
    border-radius: var(--radius);
    line-height: 100%;
    padding: 1em;
    width: 100%;
    display: block;
}
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    color: inherit;
    outline: none !important;
    line-height: 100%;
}
.btn {
    @include flex(row, center, center, nowrap);
    text-align: center;
    transition: 300ms ease-in;
    width: fit-content;
    border-radius: var(--radius);
    font-weight: 700;
    padding: 1.5rem 3rem;
    &-1 {
        @extend .btn;
        border: 2px solid var(--main-color);
        color: var(--main-color);
        background-color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: var(--main-color);
        }
    }
    &-2 {
        @extend .btn;
        border: 2px solid #fff;
        color: var(--main-color);
        background-color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
        }
    }
    &-3 {
        @extend .btn;
        border: 2px solid var(--main-color);
        color: #fff;
        background-color: var(--main-color);
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: #007BFF;
            border: 2px solid #007BFF;
        }
    }
    &:disabled {
        pointer-events: none;
        background-color: #F2F3F7 !important;
        color: #B5BBC9 !important;
        border-color: #F2F3F7 !important;
    }
}
.w-100 {
    width: 100%;
}
@media (min-width: 800px) {
    .container, .container-md, .container-sm {
        max-width: calc(770px + var(--bs-gutter-x));
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: calc(1170px + var(--bs-gutter-x));
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: calc(1170px + var(--bs-gutter-x));
    }
}


body {
    font-family: 'Roboto';
    color: var(--font-color);
    font-size: 16px;
    font-weight: 400;
}


header {
    height: var(--h-height);
    color: var(--main-color);
    padding: 15px 0px;
    display: grid;
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logoGroup contacts btns"
    "logoGroup contacts address";
    gap: 0.5em 1em;
    @media (max-width:1199.98px) {
        font-size: .9em;
    }

    @media (max-width:991.98px) {
        grid-template-columns: 6fr 4fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logoGroup address"
        "logoGroup contacts"
        "btns contacts";
        gap: 0.5em 3em;
        font-size: 1em;
    }
    @media (max-width:767.98px) {
        grid-template-columns: 1fr;
        grid-template-areas: "logoGroup"
        "address"
        "contacts"
        "btns";
    }
    
    .logoGroup {
        grid-area: logoGroup;
        @include flex(row, flex-start, center, nowrap);
        .logo {
            width: 78px;
            @media (max-width:767.98px) {
                width: 44px;
            }
        }
        h5 {
            color: var(--main-color);
            font-weight: 700;
            font-size: 2.25em;
            margin-bottom: 12px;
            line-height: 120%;
            text-align: left;
            @media (max-width: 1399.98px) {
                font-size: 2em;
            }
            @media (max-width:767.98px) {
                font-size: 1.5em;
                margin-bottom: 6px;
            }
        }
        h6 {
            color: var(--main-color);
            font-size: 1.25em;
            font-weight: 300;
            line-height: 100%;
            @media (max-width:767.98px) {
                font-size: 1.15em;
            }
        }
    }

    .contacts {
        grid-area: contacts;
        @include flex(column, space-between, flex-start, nowrap);
        @media (max-width:991px) {
            justify-content: flex-start;
            gap: 0.5em;
        }
        li {
            @include flex(row, flex-start, center, nowrap);
            img {
                width: 30px;
                height: 30px;
                margin-right: 4px;
            }
        }
    }

    .address {
        grid-area: address;
        @include flex(row, flex-start, center, nowrap);
        span {
            line-height: 120%;
        }
    }

    .btns {
        grid-area: btns;
        @include flex(row, space-between, stretch, nowrap);
        .btn-1 {
            @media (max-width: 1199px) {
                padding: 1em;
            }
            @media (max-width: 991px) {
                width: 100%;
                flex: 1;
            }
            @media (max-width: 575px) {
                padding: .5em;
            }
        }
        .btn-3 {
            height: auto;
            width: 65px;
            padding: .5rem;
        }
    }
}

nav {
    height: var(--h-nav);
    margin-bottom: 15px;
    background-color: var(--main-color);
    @media (max-width:767px) {
        display: none;
    }
    ul {
        height: 100%;
        @include flex(row, center, stretch, nowrap);
        padding: 7px 0px;
        li {
            padding: 0 0.65em;
            @include flex(row, center, center, nowrap);
            &:not(:first-child) {
                border-left: 1px solid #fff;
            }
        }
        a {
            display: block;
            color: #fff;
            background-color: transparent;
            @include flex();
            padding: .5em 2.5em;
            height: 100%;
            border-radius: 3px;
            transition: 250ms ease-in;
            transition-property: color, background-color;
            &:hover, &:focus, &:active, &.active {
                background-color: #fff;
                color: var(--main-color);
            }

            @media (max-width: 991px) {
                padding: .5em 1.5em;
            }
        }
    }
}

main {
    min-height: calc(100vh - var(--h-height) - var(--h-nav) - var(--h-footer) - 15px);
}

.sec-main {
    background: url(../imgs/bg/bg1.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    @media (max-width:991px){
        height: 630px;
    }
    @media (max-width:575px){
        height: 500px;
    }
    .container {
        height: 100%;
    }
    h1, h3 {
        color: #fff;
        text-align: center;
    }
}

.card-plus {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
    @include safariFix();
    &-bg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
    }
    &-cap {
        position: relative;
        z-index: 10;
        background-color: rgba(var(--main-color-rgb) / 50%);
        background-size: cover;
        height: 270px;
        @include flex(column, space-between, flex-start, nowrap);
        padding: 25px 15px;
        transition: background-color 250ms ease-in;
        h4 {
            color: #fff;
            font-size: 16px;
            text-align: left;
            font-weight: 500;
        }
        .link {
            @include flex(row, flex-start, center, nowrap);
            &-icon {
                display: block;
                width: 24px;
                height: 24px;
                transform: rotate(0deg);
                transition: transform 250ms ease-in;
            }
            &-text {
                color: #fff;
                margin-left: 1em;
                font-weight: 500;
                opacity: 0;
                transition: opacity 250ms ease-in;
            }
        }
        &:hover {
            background-color: rgba(var(--main-color-rgb) / 90%);
            .link {
                &-icon {
                    transform: rotate(-45deg);
                }
                &-text {
                    opacity: 1;
                }
            }
        }
        @media (max-width:1199px){
            height: 295px;
        }
        @media (max-width:991px){
            height: 373px;
        }
        @media (max-width:800px){
            height: 336px;
        }
        @media (max-width:767px){
            height: 246px;
        }
        @media (max-width:575px){
            height: calc(100vw - var(--bs-gutter-x));
        }
    }
}

.sec-guarantees {
    background-color: var(--main-color);
    background-image: url(../imgs/bg/bg-lines.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--indent) 0px;
    &-text {
        margin-bottom: 100px;
        h2, p {
            color: #fff;
        }
    }
    @media (max-width:991px) {
        .row {
            --bs-gutter-y:100px;
        }
        
    }
}
.card-guarantee {
    height: 100%;
    background-color: #fff;
    border-radius: var(--radius);
    padding: 5px 10px 20px;
    img {
        display: block;
        max-width: 90%;
        margin: 0px auto -80px;
        transform: translateY(-80px);
    }
    hr {
        width: 90%;
        height: 1px;
        border: none;
        background-color: var(--main-color);
        margin: 16px auto;
    }
    p {
        color: #81899A;
        text-align: center;
    }
}

.sec-how {
    background-image: url(../imgs/bg/bg-lines2NEW.svg), url(../imgs/bg/bg-lines2NewBG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%, cover;
    background-position: 50% 75%, 50% 50%;
    padding: var(--indent) 0px;
    @media (max-width: 767px) {
        background: none;
    }
    .steps {
        list-style: none;
        @include flex(row, space-between, stretch, wrap);
        gap: 40px 130px;
        counter-reset: my-counter;
        @media (max-width: 1199px) {
            gap: 40px 60px;
        }
        @media (max-width: 991px) {
            gap: 40px 20px;
        }
        @media (max-width: 767px) {
            gap: 25px 0px;
            @include flex(column, flex-start, stretch, wrap);
        }
        @media (max-width: 575px) {
            gap: 15px 0px;
        }
        li {
            position: relative;
            background-color: var(--main-color);
            color: #fff;
            padding: 25px 17px;
            font-size: 18px;
            width: calc((100% - 130px*2) / 3);
            border-radius: var(--radius);
            counter-increment: my-counter;
            overflow: hidden;
            @include safariFix();
            @media (max-width: 1199px) {
                width: calc((100% - 60px*2) / 3);
            }
            @media (max-width: 991px) {
                width: calc((100% - 20px*2) / 3);
                font-size: 15px;
                padding: 20px 12px;
            }
            @media (max-width: 767px) {
                padding: 25px 17px;
                font-size: 18px;
                width: 100%;
            }
            &::before {
                content: counter(my-counter);
                position: absolute;
                right: 0px;
                top: 10%;
                z-index: 1;
                font-weight: 900;
                font-size: 250px;
                line-height: 80%;
                color: rgba($color: #fff, $alpha: 0.05);
                @media (max-width: 767px) {
                    right: 20%;
                }
            }
            p {
                position: relative;
                z-index: 10;
            }
        }
        .order-6 {
            order: 6;
        }
        .order-7 {
            order: 7;
        }
        .order-8 {
            order: 8;
        }
        .order-9 {
            order: 9;
        }
    }
}

.sec-about {
    background: url(../imgs/bg/bg2.jpg) no-repeat center;
    background-size: cover;
    padding: var(--indent) 0px 30px;
    @media (max-width: 767px) {
        display: none;
    }
    p {
        color: #fff;
        font-size: 18px;
        &:not(:first-child){
            margin-top: 40px;
        }
        @media (max-width: 991px) {
            font-size: 16px;
            &:not(:first-child){
                margin-top: 25px;
            }
        }
    }
}

.sec-courses {
    background-color: var(--main-color);
    background-image: url(../imgs/bg/bg-lines4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--indent) 0px;
}
.block-collapsible {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: var(--radius);
    overflow: hidden;
    @include safariFix();
    &_cover {
        width: 100%;
        height: 200px;
        object-fit: cover;
        @media (max-width: 1199px) {
            height: 160px;
        }
        @media (max-width: 991px) {
            height: 130px;
        }
        @media (max-width: 767px) {
            height: 100px;
        }
        @media (max-width: 575px) {
            height: 18vw;
        }
    }
    &_top {
        @include flex(row, space-between, center, nowrap);
        padding: 25px 17px;
        @media (max-width: 1199px) {
            flex-wrap: wrap;
        }
        &-btn {
            width: 33%;
            @include flex(row, flex-start, center, nowrap);
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
            }
            img {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                transform: rotate(0deg);
                transition: transform 250ms ease-in;
            }
            h5 {text-align: left;}
        }
        ul {
            flex: 1;
            @include flex(row, flex-end, center, nowrap); 
            @media (max-width: 767px) {
                width: 100%;
            }
            @media (max-width: 575px) {
                flex-wrap: wrap;
                gap: 15px 0px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    width: 80%;
                    height: 1px;
                    background-color: var(--font-color);
                }
            }
            li {
                width: 25%;
                @include flex(column, flex-start, center, nowrap);
                img {
                    width: 32px;
                    height: 32px;
                    margin-bottom: 5px;
                }
                &:not(:first-child){
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 10%;
                        height: 80%;
                        width: 1px;
                        background-color: var(--font-color);
                    }
                    @media (max-width: 1199px) {
                        margin-left: 0px;
                    }
                }
                @media (max-width: 575px) {
                    width: 50%;
                    &:nth-child(3){
                        &::before {
                            content: unset;
                        }
                    }
                }
            }
        }
        .btn-1 {
            padding: 1em 2em;
            width: auto;
            margin-left: 1.75em;
            @media (max-width: 1199px) {
                width: 100%;
                margin-left: 0em;
                margin-top: 1.5em;
            }
        }
    }
    &_body {
        display: none;
        padding: 5px 17px 17px;
        hr {
            width: 100%;
            height: 1px;
            background-color: var(--main-color);
            border: none;
            margin: 0px 0px 20px;
        }

        h6 {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &.active {
        .block-collapsible_top {
            button {
                img {
                    transform: rotate(-90deg);
                }
            } 
        }
        .block-collapsible_body {
            display: block;
        }
    }
    &.no-description {
        .block-collapsible_top-btn {
            pointer-events: none;
            img {opacity: 0;}
        }
    }
}

.sec-callback {
    background: url(../imgs/bg/bg-lines3.svg) no-repeat center;
    background-size: cover;
    padding: var(--indent) 0px;
    .callback-top {
        @include flex(row, flex-start, center, nowrap);
        img {
            width: 2em;
            margin-right: 1em;
        }
        h5 {
            color: #000;
            text-align: left;
        }
    }
    h3 {
        color: #000;
        text-align: left;
        margin-bottom: 30px;
    }
    .info {
        font-size: 12px;
    }
}

.company {
    @include flex(row, flex-start, center, nowrap);
    img {
        width: 64px;
        margin-right: 15px;
    }
    p {
        color: #fff;
        text-align: left;
        font-weight: 300;
    }
    h5 {
        color: #fff;
        font-weight: 700;
        text-align: left;
        margin-bottom: 20px;
    }
}

.license {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 2px solid var(--font-color);
    @media (max-width: 1199.98px) {
        height: 400px;
    }
    @media (max-width: 991.98px) {
        height: 500px;
    }
    @media (max-width: 767.98px) {
        height: 350px;
    }
    @media (max-width: 575.98px) {
        height: 120vw;
    }
}

footer {
    padding: var(--indent) 0px;
    background-color: var(--main-color);
    background-image: url(../imgs/bg/bg-rombs.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    color: #fff;
    .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 2fr 4fr 3fr;
        gap: 30px;
        grid-template-areas: "company menu progs contacts";
        @media (max-width: 991px) {
            grid-template-rows: 86px auto auto;
            grid-template-columns: 5fr 4fr;
            gap: 30px;
            grid-template-areas: "company menu"
            "progs menu"
            "progs contacts";
            padding: 0px calc(50px + var(--bs-gutter-x)*0.5);
        }
        @media (max-width: 767px) {
            padding: 0px calc(var(--bs-gutter-x)*0.5);
        }
        @media (max-width: 575px) {
            grid-template-rows: auto;
            grid-template-columns: 1fr;
            gap: 30px;
            grid-template-areas: "company"
            "progs"
            "menu"
            "contacts";
        }
        .company {
            grid-area: company;
            align-items: flex-start;
        }
        .menu {
            grid-area: menu;
        }
        .progs {
            grid-area: progs;
        }
        .contacts {
            grid-area: contacts;
        }
    }
    a, button, h5 {
        color: #fff;
    }
    h5 {
        color: #fff;
        text-align: left;
        font-weight: 700;
        margin-bottom: 40px;
        @media (max-width: 991px) {
            margin-bottom: 25px;
        }
        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }
    ul {
        font-weight: 300;
        li {
            &:not(:first-child) {
                margin-top: 5px;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0px;
    left: 110vw;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    z-index: 1000;
    transition: left 500ms ease-in;
    padding: 30px 0px;
    @media (min-width:992px) {
        display: none;
    }
    &.visible {
        left:0px;
    }
    &-close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
    ul {
        li {
            &:not(:first-child) {
                margin-top: 10px;
            }
            a {
                font-size: 20px;
                font-weight: 300;
                color: #fff;
            }
        }
    }
}

.btn-up {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: var(--indent);
    height: var(--indent);
    background-color: var(--main-color);
    border-radius: 50%;
    @include flex(row, center, center, nowrap);
    z-index: 100;
    opacity: 1;
    transition: opacity 300ms ease-in;
    transition-property: opacity, background-color;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    @media (max-width:767px) {
        bottom: 1em;
        right: 1em;
        width: var(--indent-sm);
        height: var(--indent-sm);
    }
    &:hover {
        background-color: #007BFF;
    }
    &:active {
        background-color: #0044ff;
    }
    &-hide {
        opacity: 0;
    }
}